{% extends "base.html" %}

{% load static %}

{% block title %}
  Encounter
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      {% with character=object.character %}
        <div class="col-lg-6">{% include "encounters/includes/encounter_details.html" with encounter=object %}</div>
        <div class="col-lg-6">{% include "characters/includes/character_details.html" with character=character %}</div>
      {% endwith %}
    </div>
  </div>
{% endblock content %}
