{% load monster_avatar_url %}

<div id="monsterDetails">
  <img class="img-fluid" src="{{ monster|monster_avatar_url }}" />
  <ul class="info-list">
    <li>
      {% if ready_to_complete %}
        <a href="{% url 'encounters:complete' pk=encounter.pk %}"><i class="action fa-solid fa-check fa-xl"></i></a>
      {% else %}
        <a hx-get="{% url 'encounters:encounter-hx-attack-monster' pk=monster.encounter.pk monster=monster.pk %}"
           href=""
           hx-target="#encounterDetails"
           hx-swap="outerHTML"><i class="fa-solid fa-{{ weapon_icon_name }} fa-xl"></i></a>
      {% endif %}
    </li>
    <li>
      <b>{{ monster.name }}</b>
    </li>
    <li>HP: {{ monster.hit_points }}</li>
  </ul>
</div>
