<ul class="object-list">
  {% for tracker in trackers %}
    <li>
      <div class="object-list-item-section">
        <a href="{% url 'trackers:tracker-negative-adjustment-create' tracker=tracker.pk %}"><i class="object-list-item-action fa-solid fa-arrow-down fa-lg"></i></a>
        {{ tracker.name }}: {{ tracker.balance }}
        <a href="{% url 'trackers:tracker-adjustment-list' tracker=tracker.pk %}"><i class="object-list-item-action fa-solid fa-list fa-lg"></i></a>
      </div>
    </li>
  {% endfor %}
</ul>
