<div>
  {% for characteritem in characteritems %}
    {% with item=characteritem.item %}
      <a href="{% url 'items:character-item-use' pk=characteritem.pk %}">
        <i class="fa-solid fa-{{ item.icon_name }} fa-xl"></i>
        {{ item.name }} ({{ characteritem.quantity }})
      </a>
    {% endwith %}
  {% endfor %}
</div>
