<div>
  {% for meleeweapon in meleeweapons %}
    {% with item=meleeweapon.item %}
      <a href="{% url 'items:character-melee-weapon-equip' pk=meleeweapon.pk %}">
        <i class="fa-solid fa-{{ item.icon_name }} fa-xl"></i>
        {{ item.name }}
      </a>
    {% endwith %}
  {% endfor %}
</div>
