{{ character.credits }} cryptobucks
<ul>
  {% for item in item_list %}
    <li>
      <a href="{% url 'items:character-item-create' character=character.pk item=item.id %}">
        <i class="fa solid fa-{{ item.icon_name }}"></i> {{ item.name }} ({{ item.base_price }} cryptobucks)
      </a>
    </li>
  {% endfor %}
</ul>
