{% load character_avatar_url %}

<div class="character-messages-container"
     hx-get="{% url 'characters:character-hx-fetch-messages' pk=character.pk %}"
     hx-swap="beforeend"
     hx-trigger="{{ CHARACTER_DETAILS_CHANGED }} from:body"></div>
<div id="characterDetails"
     hx-get="{% url 'characters:character-hx-fetch-details' pk=character.pk %}"
     hx-trigger="{{ CHARACTER_DETAILS_CHANGED }} from:body">
  <a href="{% url 'characters:update' pk=character.pk %}">
    <h2>{{ character.name }}</h2>
  </a>
  <img class="img-fluid" src="{{ character|character_avatar_url }}" />
  <ul class="info-list">
    {% with pendinglevelup=character.pending_level_up %}
      <li>
        Level: {{ character.level }}
        {% if pendinglevelup %}
          <a href="{% url 'characters:level-up-complete' pk=pendinglevelup.pk %}"><i class="fa-solid fa-arrow-up"></i></a>
        {% endif %}
      </li>
    {% endwith %}
    <li>
      <b>HP: {{ character.hit_points }}</b> / {{ character.max_hit_points }}
    </li>
    <li>STR: {{ character.strength }}</li>
    <li>DEX: {{ character.dexterity }}</li>
    <li>INI: {{ character.initiative }}</li>
    <li>XP: {{ character.experience_points }}</li>
    <li>CRYPTOBUCKS: {{ character.credits }}</li>
  </ul>
  {% with characteritems=character.available_character_items %}
    {% include "items/includes/characteritem_list.html" with characteritems=characteritems %}
  {% endwith %}
  {% with meleeweapons=character.melee_weapons %}
    {% include "items/includes/charactermeleeweapons_list.html" with meleeweapons=meleeweapons %}
  {% endwith %}
  {% with pendinglevelup=character.pending_level_up %}
    {% if pendinglevelup %}{% endif %}
  {% endwith %}
</div>
