<i class="shop-btn fa-solid fa-store fa-xl"
   data-bs-toggle="modal"
   data-bs-target="#shopModal"></i>
<!-- Modal -->
<div class="modal fade"
     id="shopModal"
     tabindex="-1"
     aria-labelledby="shopModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="shop-modal modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shopModalLabel">Shop</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">{% include "items/includes/item_list.html" with item_list=item_list %}</div>
    </div>
  </div>
</div>
