{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  Level Up
{% endblock title %}
{% block content %}
  <h1>{{ characterlevelup.character.name }}: Level Up</h1>
  <b>Total stat points: {{ characterlevelup.total_stat_points }}</b>
  <form class="form-horizontal" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
{% endblock content %}
