{% extends "base.html" %}

{% load static %}

{% block title %}
  Character:
  {{ object.name }}
{% endblock title %}
{% block content %}
  <div hx-get="{% url 'characters:character-hx-check-for-active-encounter' pk=object.pk %}"
       hx-swap="innerHTML"
       hx-trigger="load,{{ CHARACTER_DETAILS_CHANGED }} from:body"></div>
  <div class="container">
    <div class="row">
      {% if UNLIMITED_ENCOUNTER_MODE %}
        <a hx-get="{% url 'characters:character-hx-force-active-encounter' pk=object.pk force=1 %}">Combat</a>
      {% endif %}
      <div class="col-lg-6">{% include "characters/includes/character_details.html" with character=object %}</div>
      <div class="col-lg-6">{% include "characters/includes/shop_modal.html" with item_list=items_for_sale %}</div>
      <div class="row">
        <div class="col-lg-6">
          <h2>Habits</h2>
          <a class="btn btn-primary"
             href="{% url 'tasks:character-habit-create' character=object.pk %}">Create</a>
          {% include "tasks/includes/habit_list.html" with uncompleted_habits=character.ordered_pending_daily_habits completed_habits=character.ordered_completed_daily_habits %}
        </div>
        <div class="col-lg-6">
          <h2>Trackers</h2>
          <a class="btn btn-primary"
             href="{% url 'trackers:character-tracker-create' character=object.pk %}">Create</a>
          {% include "trackers/includes/tracker_list.html" with trackers=character.tracker_set.all %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          {% include "tasks/includes/todo_list.html" with todo_list=character.default_todos character=character %}
        </div>
        <div class="col-lg-6">
          <h2>Categories</h2>
          <a class="btn btn-primary"
             href="{% url 'tasks:character-category-create' character=character.pk %}">Create</a>
          {% include "tasks/includes/category_list.html" with categories=character.ordered_categories %}
        </div>
      </div>
    </div>
  {% endblock content %}
