{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  Character
{% endblock title %}
{% block content %}
  <h1>{{ user.email }}: Character</h1>
  <form class="form-horizontal" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Save</button>
        {% if object %}<a class="btn btn-danger" href="{{ object.get_absolute_url }}">Cancel</a>{% endif %}
      </div>
    </div>
  </form>
{% endblock content %}
