/* These styles are generated from project.scss. */

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

body {
  background-color: black;
  color: white;
  font-size: large;
}

hr {
  border-top: 1px solid white;
}

ul.info-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}

ul.object-list {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;

  li {
    padding: 5px;
    margin-top: 15px;
    border: solid grey;
  }
}

.shop-btn {
  padding-top: 30px;
}

.shop-modal {
  background-color: black;
  color: white;
  font-size: large;
}

.character-data-form-container {
  margin-bottom: 25px;
}

.notes-toggle {
  margin-left: 3px;
}

.object-list-filter {
  margin: 10px;
}

.object-list-item-section {
  margin: 10px;
}

.object-list-item-action {
  margin-right: 10px;
}

.object-list-item-actions-bar {
  display: flex;
  justify-content: space-between;
}

.basic-todo {
  color: white;
}

.future-todo {
  color: blue;
}

.immediate-todo {
  color: red;
}

.failed-todo {
  color: grey;
}

.active-filter {
  color: blue;
}

.character-messages-container {
  position: fixed;
}
