{% extends "base.html" %}

{% block title %}
  Category: {{ object.name }}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <h2>{{ object.name }}</h2>
      <b>Priority: {{ object.priority }}</b>
    </div>
    <div class="row">
      <ul>
        <li>
          <a href="{% url 'characters:detail' pk=object.character.pk %}">Back</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock content %}
