{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="default-form-container">
    <h1>{{ form_header|default:"Form" }}</h1>
    {{ form_message }}
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Save</button>
          {% if cancel_path %}<a class="btn btn-danger" href="{{ cancel_path }}">Cancel</a>{% endif %}
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
