{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  Delete Tracker Adjustment
{% endblock title %}
{% block content %}
  <h1>{{ adjustment.tracker.name }}: Delete Adjustment</h1>
  {{ adjustment.value }} ({{ adjustment.created }})
  <form class="form-horizontal" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-danger"
           href="{{ adjustment.tracker.character.get_absolute_url }}">Cancel</a>
      </div>
    </div>
  </form>
{% endblock content %}
