{% extends "base.html" %}

{% block title %}
  Tracker Adjustments
{% endblock title %}
{% block content %}
  <div class="container">
    <h2>{{ tracker.name }} Adjustments</h2>
    <a class="btn btn-danger"
       href="{{ tracker.character.get_absolute_url }}">Back</a>
    <ul>
      {% for adjustment in adjustment_list %}
        <li>
          {{ adjustment.value }} ({{ adjustment.created }})
          <a href="{% url 'trackers:adjustment-delete' pk=adjustment.pk %}"><i class="action fa-solid fa-trash-can"></i></a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
