{% for message in messages %}
  <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
    {{ message }}
    <button type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"></button>
  </div>
{% endfor %}
