<div id="encounterDetails">
  <h2>Encounter</h2>
  {% with monster=encounter.monster_set.first character_weapon=encounter.character.weapon %}
    {% include "monsters/includes/monster_details.html" with monster=monster ready_to_complete=encounter.ready_to_complete weapon_icon_name=character_weapon.icon_name %}
  {% endwith %}
  <ul class="info-list">
    {% for event in encounter.recent_ordered_events %}<li>{{ event.text }}</li>{% endfor %}
  </ul>
</div>
