<ul class="info-list">
  {% for category in categories %}
    <li>
      <a href="{% url 'tasks:category-detail' pk=category.pk %}">{{ category.name }} [{{ category.priority }}]</a>
    </li>
  {% endfor %}
</ul>
