<ul class="object-list">
  {% for habit in uncompleted_habits %}
    <li>
      <div class="object-list-item-section">
        <a href="{% url 'tasks:habit-do' pk=habit.pk %}"><i class="object-list-item-action fa-solid fa-arrow-up fa-lg"></i></a>
        [{{ habit.streak }}] {{ habit.category.name }} <b>{{ habit.name }}</b> ({{ habit.experience_points }} points)
      </div>
      <div class="object-list-item-section object-list-item-actions-bar">
        <a href="{% url 'tasks:habit-update' pk=habit.pk %}"><i class="object-list-item-action fa-solid fa-pen"></i></a>
        <a href="{% url 'tasks:habit-delete' pk=habit.pk %}"><i class="object-list-item-action fa-solid fa-trash-can"></i></a>
      </div>
    </li>
  {% endfor %}
  {% for completed in completed_habits %}
    <li>
      <div class="object-liste-item-section">
        [{{ completed.streak }}] {{ completed.category.name }} {{ completed.name }}
      </div>
    </li>
  {% endfor %}
</ul>
