{% load crispy_forms_tags %}

<li id="{{ hx_target_id }}">
  <h1>{{ form_header|default:"Form" }}</h1>
  {{ form_message }}
  <form class="form-horizontal"
        hx-post="{{ hx_post }}"
        hx-target="#{{ hx_target_id }}"
        hx-swap="outerHTML">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-danger"
           hx-get="{{ cancel_path }}"
           hx-target="#{{ hx_target_id }}"
           hx-swap="outerHTML">Cancel</a>
      </div>
    </div>
  </form>
</li>
