<div id="notes{{ todo.pk }}Notes" class="object-list-item-section">
  <i hx-get="{% url 'tasks:todo-hx-notes-hide' pk=todo.pk %}"
     hx-target="#notes{{ todo.pk }}Notes"
     hx-swap="outerHTML"
     class="notes-toggle fa-regular fa-file-lines"></i>
  {{ todo.notes }}
</div>
