{% load todo_style %}

<li id="todo-{{ todo.pk }}">
  <div class="object-list-item-section">
    <a hx-post="{% url 'tasks:todo-hx-complete' pk=todo.pk %}"
       hx-target="#todo-{{ todo.pk }}"
       hx-swap="outerHTML"><i class="object-list-item-action fa-solid fa-check fa-xl"></i></a>
    <b><span class="{{ todo|todo_style }}">{{ todo.category.name }} {{ todo.name }}</span></b> {{ todo.due_date|date:"D M j"|default:"" }} ({{ todo.experience_points }} points)
    {% if todo.recurring_schedule %}<i class="fa-solid fa-repeat fa-lg"></i>{% endif %}
    <a hx-get="{% url 'hx:empty' %}"
       hx-target="#todo-{{ todo.pk }}"
       hx-swap="outerHTML"><i class="object-list-item-action fa-solid fa-minus fa-xl"></i></a>
  </div>
  {% if todo.notes %}
    {% include "tasks/includes/todo_notes_hide.html" with todo=todo %}
  {% endif %}
  <div class="object-list-item-section object-list-item-actions-bar">
    <a hx-post="{% url 'tasks:todo-hx-fail' pk=todo.pk %}"
       hx-target="#todo-{{ todo.pk }}"
       hx-swap="outerHTML"><i class="object-list-item-action fa-solid fa-x fa-xl"></i></a>
    <a hx-post="{% url 'tasks:todo-hx-due-today' pk=todo.pk %}"
       hx-target="#todo-{{ todo.pk }}"
       hx-swap="outerHTML"><i class="object-list-item-action fa-regular fa-clock fa-xl"></i></a>
    <a hx-get="{% url 'tasks:todo-hx-update' pk=todo.pk %}"
       hx-target="#todo-{{ todo.pk }}"
       hx-swap="outerHTML"><i class="object-list-item-action fa-solid fa-pen"></i></a>
    <a hx-post="{% url 'tasks:todo-hx-delete' pk=todo.pk %}"
       hx-target="#todo-{{ todo.pk }}"
       hx-swap="outerHTML"><i class="object-list-item-action fa-solid fa-trash-can"></i></a>
  </div>
</li>
