{% load url_with_todo_filters %}
{% load filter_style %}

<div id="todosContainer">
  <h2>Todo List</h2>
  <a hx-get="{% url_with_todo_filters 'tasks:character-todo-hx-list' character=character.pk f='pending' %}"
     hx-target="#todosContainer"
     hx-swap="outerHTML">
    <i class="{% filter_style f='pending' %} object-list-filter fa-solid fa-bolt fa-lg"></i>
  </a>
  <a hx-get="{% url_with_todo_filters 'tasks:character-todo-hx-list' character=character.pk f='backlog' %}"
     hx-target="#todosContainer"
     hx-swap="outerHTML">
    <i class="{% filter_style f='backlog' %} object-list-filter fa-solid fa-calendar fa-lg"></i>
  </a>
  {% for category in character.ordered_categories %}
    <a hx-get="{% url_with_todo_filters 'tasks:character-todo-hx-list' character=character.pk c=category.name %}"
       hx-target="#todosContainer"
       hx-swap="outerHTML">
      <span class="{% filter_style c=category.name %}">{{ category.name }}</span>
    </a>
  {% endfor %}
  <a hx-get="{% url_with_todo_filters 'tasks:character-todo-hx-create' character=character.pk %}"
     hx-target="#todoList"
     hx-swap="afterbegin"><i class="fa-solid fa-plus"></i></a>
  <ul id="todoList" class="object-list">
    {% for todo in todo_list %}
      {% include "tasks/includes/todo_list_item.html" with todo=todo %}
    {% empty %}
      <div id="emptyTodos"
           hx-get="{% url 'hx:empty' %}"
           hx-swap="outerHTML"
           hx-trigger="{{ TODO_ADDED }} from:body">
        No todos.
      </li>
    {% endfor %}
  </ul>
</div>
